/* for card component  */
.card-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 3vw auto;
  }
  
  .card {
    position: relative;
    width: 30%; /* Adjust width as needed */
    margin-bottom: 20px; /* Adjust margin between cards */
  }
  
  .card-bg {
    width: 100%;
    height: auto;
  }
  
  .inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .union-image {
    width: 50%; /* Adjust size as needed */
    display: block;
    margin: 0 auto 10px; /* Adjust margin as needed */
  }
  
  h3 {
    color: #fff;
    font-size: 18px; /* Adjust font size as needed */
    margin: 0;
  }